.welcome {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  margin-left: 256rem;

  width: 1154rem;

  .up {
    display: flex;
    flex-direction: row;
    margin-left: 20rem;

    .up_left {
      display: flex;
      flex-direction: column;
      width: 472rem;
      text-align: left;
      align-items: flex-start;
      width: 590rem;
      text-align: left;

      h1 {
        width: 472rem;
        height: 219rem;
        line-height: 73rem;
        font-size: 70rem;
        font-family: Verdana;
        font-weight: bold;
        color: #333333;
        opacity: 1;
      }

      p {
        margin-top: 24rem;
        width: 472rem;
        margin-top: 47rem;
        font-size: 16rem;
        margin-top: 29rem;
        width: 590rem;
        font-size: 16rem;
        font-family: PingFang HK;
        font-weight: 600;
        color: #333333;
        opacity: 1;
      }
    }

    .welcome_imggroup {
      margin-top: 0rem;
      width: 473rem;
      height: 473rem;
      grid-template-columns: repeat(3, 149rem);
      grid-template-rows: repeat(3, 149rem);
      grid-row-gap: 13rem;
      grid-column-gap: 13rem;

      img {
        width: 149rem;
        height: 149rem;
      }
    }

  }
}