#classForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 240rem;
  width: 530rem;
  margin-top: 10rem;
}
#classForm .b_form {
  background-color: white;
  width: 77rem;
  height: 20rem;
  border: 1rem solid gray;
  margin: 0;
}
#classForm .r_form {
  background-color: #CCE6FF;
  width: 77rem;
  height: 20rem;
  border: 1rem solid gray;
  margin: 0;
}
