#person {
  width: 1410rem;
  flex-wrap: wrap;
}
#person .head {
  align-items: center;
  margin: 50px auto;
  width: 1200px;
}
#person .head .title {
  width: fit-content;
  height: 48px;
  margin-bottom: 0px;
  font-size: 40px;
  font-family: Verdana;
  font-weight: bold;
  line-height: 48px;
  color: #333333;
  opacity: 1;
}
#person #detail {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#person #detail .user_photo {
  width: 148px;
  height: 148px;
  border-radius: 50%;
  margin: 0 auto;
}
#person #detail .nameBox {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
}
#person #detail .nameBox p {
  width: fit-content;
  height: 42px;
  font-size: 35px;
  font-family: Verdana;
  font-weight: bold;
  line-height: 42px;
  color: #404040;
  opacity: 1;
  margin: 0;
}
#person #detail .nameBox img {
  width: 21px;
  height: 21px;
  margin-left: 12px;
  margin-top: 10.5px;
}
#person .personReserve {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 100px;
}
#person .personReserve .title {
  width: fit-content;
  height: 42px;
  font-size: 30px;
  font-family: Verdana;
  font-weight: bold;
  line-height: 42px;
  color: #333333;
  opacity: 1;
}
#person .personReserve .reserveBox {
  margin-top: 28px;
  width: 1200px;
  height: fit-content;
  background: #F8F8F8;
  opacity: 1;
  border-radius: 25px;
  padding-top: 60px;
  padding-bottom: 30px;
}
#person .personReserve .reserveBox .boxHead {
  margin: 0 auto;
  width: 1116px;
  height: 60px;
  background: #F2F2F2;
  opacity: 1;
  border-radius: 13px;
  padding: 0 18px;
  display: grid;
  grid-template-columns: 180px 270px 180px 180px 270px;
}
#person .personReserve .reserveBox .boxHead p {
  width: fit-content;
  height: 60px;
  font-size: 18px;
  font-family: Verdana;
  font-weight: bold;
  line-height: 60px;
  color: #333333;
  opacity: 1;
}
#person .personReserve .reserveBox .boxDetail {
  margin: 0 auto;
  width: 1116px;
  height: 60px;
  opacity: 1;
  border-radius: 13px;
  padding: 0 18px;
  display: grid;
  grid-template-columns: 180px 270px 180px 180px 270px;
}
#person .personReserve .reserveBox .boxDetail p {
  width: fit-content;
  height: 60px;
  font-size: 18px;
  font-family: Verdana;
  font-weight: 400;
  line-height: 60px;
  color: #333333;
  opacity: 1;
}
#person .Modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}
#person .Modal .black {
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 70%;
  position: absolute;
}
#person .Modal .box {
  background-color: #F8F8F8;
  padding: 25px 54px 35px 54px;
  margin: auto;
  border-radius: 26px;
  position: relative;
  z-index: 1;
}
#person .Modal .box .title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #333333;
}
#person .Modal .box .input {
  padding: 21px;
  width: 340px;
  border-radius: 14px;
  font-size: 20px;
}
#person .Modal .box .but {
  cursor: pointer;
  margin: 0 auto;
  background-color: #050407;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 21px;
  width: 240px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  border-radius: 14px;
  margin-top: 20px;
}
